body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #fff, #fff);
    overflow-x: hidden;
}

.container {
    width: 900px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;

    position: relative;
    display: grid;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas: "header"
    "output" "buttons" "diet" "information"
}

.information {
    grid-area: information;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"personal-info exercise"
    "heart-rate sleep"
    "steps calories";
}

.title {
    display: flex;
}
.title img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 2px;
}

.header {
    grid-area: header;
}

.header p {
    text-align: left;
    font-size: 24px;
    color: #f7941d;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.date-picker {
    text-align: left;
    font-size: 18px;
}

.date-picker input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output {
    grid-area: output;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "output-box output-image";
}

.output-box {
    grid-area: output-box;
    height: 250px;
    width: 550px;
    border: 2px solid #f7941d;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
}

.output-image{
    grid-area: output-image;
    height: 280px;
    width: 280px;
}

.output-image img{
    height: 100%;
    width: 100%;
}

.buttons {
    grid-area: buttons;
    text-align: center;
    margin-bottom: 20px;
}

.buttons button {
    width: 30%;
    margin: 5px;
    padding: 10px 15px;
    background-color: #f7941d;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: #e68219;
    transform: scale(1.1);
}

.buttons button:active {
    transform: scale(0.95);
}

.diet {
    grid-area: diet;
}

.diet-list {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "breakfast lunch dinner";
}

.breakfast {
    grid-area: breakfast;
}

.lunch {
    grid-area: lunch;
}

.dinner {
    grid-area: dinner;
}

.personal-info {
    grid-area: personal-info;
}

.exercise {
    grid-area: exercise;
}

.heart-rate {
    grid-area: heart-rate;
}

.sleep {
    grid-area: sleep;
}

.steps {
    grid-area: steps;
}

.calories {
    grid-area: calories;
}

.module {
    border: 2px solid #ffffff;
    background-color: rgba(232, 229, 224, 0.4);
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0;
    color: #333;
    text-align: center;
    font-size: 1.1em;
}

.module h3 {
    text-align: center;
    margin-top: 1px;
}

.module p {
    margin-top: 1px;
    margin-bottom: 10px;
}

.module textarea {
    resize: none;
    width: 80%;
    height: 60px;
    border: 1px solid #ccc;
}

.module textarea::-webkit-scrollbar {
    width: 8px; /* 滚动条的宽度 */
}

.module textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条轨道的背景颜色 */
}

.module textarea::-webkit-scrollbar-thumb {
    background-color: #f7941d; /* 滚动条滑块的背景颜色 */
    border-radius: 5px; /* 滚动条滑块的圆角半径 */
}

.module textarea:focus {
    outline: none;
    border: 2px solid #ffa500; /* 用border属性来代替outline，提供聚焦指示 */
}

.filling {
    height: 120px;
}

.output-textarea {
    resize: none;

    height: 100%;
    width: 100%;
    font-size: 1.2em;
    border: none;
    outline: none;
}

.output-textarea:focus {
    resize: none;
}


