body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f6d365, #fda085);
    overflow-x: hidden;
}

.container {
    width: 60%;
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    display: grid;
    grid-template-rows: 100px 300px 60px 300px auto;
    grid-template-areas: "header"
    "output" "buttons" "diet" "information"
}

.information {
    grid-area: information;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:"personal-info exercise"
    "heart-rate sleep"
    "steps calories";
}

.header {
    grid-area: header;
}

.header p {
    text-align: left;
    font-size: 24px;
    color: #f7941d;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.date-picker {
    text-align: left;
    font-size: 18px;
}

.date-picker input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.output-box {
    grid-area: output;
}

.buttons {
    grid-area: buttons;
    text-align: center;
    margin-bottom: 20px;
}

.buttons button {
    width: 30%;
    margin: 5px;
    padding: 10px 15px;
    background-color: #f7941d;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: #e68219;
    transform: scale(1.1);
}

.buttons button:active {
    transform: scale(0.95);
}

.diet {
    grid-area: diet;
}

.diet-list{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "breakfast lunch dinner";
}

.breakfast {
    grid-area: breakfast;
}

.lunch {
    grid-area: lunch;
}

.dinner {
    grid-area: dinner;
}

.personal-info {
    grid-area: personal-info;
}

.exercise {
    grid-area: exercise;
}

.heart-rate {
    grid-area: heart-rate;
}

.sleep {
    grid-area: sleep;
}

.steps {
    grid-area: steps;
}

.calories {
    grid-area: calories;
}

.module {
    border: 2px solid #f7941d;
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    color: #333;
    text-align: center;
    font-size: 1.1em;
}

.module h3 {
    text-align: center;
    margin-top: 1px;
}

.filling {
    height: 120px;
}

#combined-output {
    border: 2px solid #f7941d;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
    text-align: center;
}
